# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
# PyInstaller
*.manifest
*.spec
# Installer logs
pip-log.txt
pip-delete-this-directory.txt
# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
# PyBuilder
target/
# IPython
profile_default/
ipython_config.py
# pyenv
.python-version
__pypackages__/
# Environments
.env
.venv
env/
venv/
ENV/
# mypy
.mypy_cache/
.dmypy.json
dmypy.json
# vscode
.vscode/
# osx
.DS_Store
.idea
lambda_functions/cohort_data_processing/.start_lambda.py
lambda_functions/pseudonymisation/.start_lambda.py
layers/pseudonymised/.start_lambda.py
layers/ig-conformance/.start_lambda.py
layers/canonical/.start_lambda.py
/location/aws_lambda/functions/data_ingestion/.start_lambda.py
