name: Build and Push Lambda Image to ECR

on:
  workflow_dispatch:
    inputs:
      lambda:
        description: "Select Lambda to build"
        required: true
        type: choice
        options:
          - ig-conformance
          - canonical
          - pseudonymised

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials via OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::647582858282:role/GithubRunnerRole
          aws-region: eu-west-2

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./layers/${{ github.event.inputs.lambda }}/
          file: ./layers/${{ github.event.inputs.lambda }}/Dockerfile
          platforms: linux/amd64
          push: true
          tags: |
            647582858282.dkr.ecr.eu-west-2.amazonaws.com/somerset-647582858282-dev-account-ecr:${{ github.event.inputs.lambda }}-latest
            647582858282.dkr.ecr.eu-west-2.amazonaws.com/somerset-647582858282-dev-account-ecr:${{ github.event.inputs.lambda }}-${{ github.sha }}

      # - name: Build ${{ github.event.inputs.lambda }} image
      #   uses: delivops/ecr-build-action@v0.0.10
      #   with:
      #     path: ./layers/${{ github.event.inputs.lambda }}/
      #     image_name: "somerset-647582858282-dev-account-ecr"
      #     tag: "${{ github.event.inputs.lambda }}-latest,${{ github.sha }}"
      #     build_args: "ENV=dev,VERSION=${{ github.sha }}"
      #     dockerfile_path: ./layers/${{ github.event.inputs.lambda }}/Dockerfile
      #     aws_account_id: "647582858282"
      #     aws_region: "eu-west-2"
      #     aws_role: "GithubRunnerRole"
      #     no_cache: true
      #     platforms: linux/amd64
  
